In [96]:
import numpy as np
import pandas as pd

In [97]:
train = pd.read_csv('../input/tabular-playground-series-jan-2022/train.csv')
test = pd.read_csv('../input/tabular-playground-series-jan-2022/test.csv')

In [98]:
train.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [99]:
test.head()

   row_id        date  country       store         product
0   26298  2019-01-01  Finland  KaggleMart      Kaggle Mug
1   26299  2019-01-01  Finland  KaggleMart      Kaggle Hat
2   26300  2019-01-01  Finland  KaggleMart  Kaggle Sticker
3   26301  2019-01-01  Finland  KaggleRama      Kaggle Mug
4   26302  2019-01-01  Finland  KaggleRama      Kaggle Hat

In [100]:
train['num_sold']

0         329
1         520
2         146
3         572
4         911
         ...
26293     823
26294     250
26295    1004
26296    1441
26297     388
Name: num_sold, Length: 26298, dtype: int64

In [101]:
train['country']

0        Finland
1        Finland
2        Finland
3        Finland
4        Finland
          ...
26293     Sweden
26294     Sweden
26295     Sweden
26296     Sweden
26297     Sweden
Name: country, Length: 26298, dtype: object

In [102]:
train.drop('row_id', axis=1, inplace=True)
test.drop('row_id', axis=1, inplace=True)

In [103]:
train.head()

         date  country       store         product  num_sold
0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [104]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26298 entries, 0 to 26297
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      26298 non-null  object
 1   country   26298 non-null  object
 2   store     26298 non-null  object
 3   product   26298 non-null  object
 4   num_sold  26298 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

In [105]:
train.describe()
train.head()

         date  country       store         product  num_sold
0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [106]:
train['date'] = train['date'].str.replace("-","").astype(int)

In [107]:
test['date'] = test['date'].str.replace("-","").astype(int)

In [108]:
train.count()

date        26298
country     26298
store       26298
product     26298
num_sold    26298
dtype: int64

In [109]:
train.items()

In [110]:
train.head(19)

        date  country       store         product  num_sold
0   20150101  Finland  KaggleMart      Kaggle Mug       329
1   20150101  Finland  KaggleMart      Kaggle Hat       520
2   20150101  Finland  KaggleMart  Kaggle Sticker       146
3   20150101  Finland  KaggleRama      Kaggle Mug       572
4   20150101  Finland  KaggleRama      Kaggle Hat       911
5   20150101  Finland  KaggleRama  Kaggle Sticker       283
6   20150101   Norway  KaggleMart      Kaggle Mug       526
7   20150101   Norway  KaggleMart      Kaggle Hat       906
8   20150101   Norway  KaggleMart  Kaggle Sticker       250
9   20150101   Norway  KaggleRama      Kaggle Mug      1005
10  20150101   Norway  KaggleRama      Kaggle Hat      1461
11  20150101   Norway  KaggleRama  Kaggle Sticker       395
12  20150101   Sweden  KaggleMart      Kaggle Mug       440
13  20150101   Sweden  KaggleMart      Kaggle Hat       624
14  20150101   Sweden  KaggleMart  Kaggle Sticker       175
15  20150101   Sweden  KaggleRama      Kaggle Mug       706
16  20150101   Sweden  KaggleRama      Kaggle Hat      1195
17  20150101   Sweden  KaggleRama  Kaggle Sticker       324
18  20150102  Finland  KaggleMart      Kaggle Mug       318

In [111]:
print(train['country'].value_counts(), '\n')
print(train['product'].value_counts(), '\n')
print(train['store'].value_counts(), '\n')

Finland    8766
Norway     8766
Sweden     8766
Name: country, dtype: int64

Kaggle Mug        8766
Kaggle Hat        8766
Kaggle Sticker    8766
Name: product, dtype: int64

KaggleMart    13149
KaggleRama    13149
Name: store, dtype: int64

In [112]:
test.head()

       date  country       store         product
0  20190101  Finland  KaggleMart      Kaggle Mug
1  20190101  Finland  KaggleMart      Kaggle Hat
2  20190101  Finland  KaggleMart  Kaggle Sticker
3  20190101  Finland  KaggleRama      Kaggle Mug
4  20190101  Finland  KaggleRama      Kaggle Hat

In [113]:
train['date'] = train['date'].astype(str)

In [114]:
train['date'] = train['date'].str[4:]

In [115]:
train.head()

   date  country       store         product  num_sold
0  0101  Finland  KaggleMart      Kaggle Mug       329
1  0101  Finland  KaggleMart      Kaggle Hat       520
2  0101  Finland  KaggleMart  Kaggle Sticker       146
3  0101  Finland  KaggleRama      Kaggle Mug       572
4  0101  Finland  KaggleRama      Kaggle Hat       911

In [116]:
test['date'] = test['date'].astype(str)
test['date'] = test['date'].str[4:]

In [117]:
test.head()

   date  country       store         product
0  0101  Finland  KaggleMart      Kaggle Mug
1  0101  Finland  KaggleMart      Kaggle Hat
2  0101  Finland  KaggleMart  Kaggle Sticker
3  0101  Finland  KaggleRama      Kaggle Mug
4  0101  Finland  KaggleRama      Kaggle Hat

In [118]:
train['date'] = train['date'].astype(int)

In [119]:
test['date'] = test['date'].astype(int)

In [120]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(handle_unknown='ignore')

In [121]:
train_cat = train[['country', 'store', 'product']]

In [122]:
train_cat_1hot = enc.fit_transform(train_cat)

In [123]:
train_cat_1hot.toarray()

array([[1., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 0., 1., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 1.]])

In [125]:
enc.categories_

[array(['Finland', 'Norway', 'Sweden'], dtype=object),
 array(['KaggleMart', 'KaggleRama'], dtype=object),
 array(['Kaggle Hat', 'Kaggle Mug', 'Kaggle Sticker'], dtype=object)]

In [126]:
train.head()

   date  country       store         product  num_sold
0   101  Finland  KaggleMart      Kaggle Mug       329
1   101  Finland  KaggleMart      Kaggle Hat       520
2   101  Finland  KaggleMart  Kaggle Sticker       146
3   101  Finland  KaggleRama      Kaggle Mug       572
4   101  Finland  KaggleRama      Kaggle Hat       911

In [127]:
test.head()

   date  country       store         product
0   101  Finland  KaggleMart      Kaggle Mug
1   101  Finland  KaggleMart      Kaggle Hat
2   101  Finland  KaggleMart  Kaggle Sticker
3   101  Finland  KaggleRama      Kaggle Mug
4   101  Finland  KaggleRama      Kaggle Hat

In [130]:
mapping1 = {'Finland': 1, 'Norway': 2, 'Sweden': 3}
mapping2 = {'KaggleMart': 1, 'KaggleRama': 2}
mapping3 = {'Kaggle Mug': 1, 'Kaggle Hat': 2, 'Kaggle Sticker': 3}

In [133]:
train = train.replace({'country': mapping1, 'store':mapping2, 'product': mapping3})
test = test.replace({'country': mapping1, 'store':mapping2, 'product': mapping3})

In [134]:
train.head()

   date  country  store  product  num_sold
0   101        1      1        1       329
1   101        1      1        2       520
2   101        1      1        3       146
3   101        1      2        1       572
4   101        1      2        2       911

In [135]:
test.head()

   date  country  store  product
0   101        1      1        1
1   101        1      1        2
2   101        1      1        3
3   101        1      2        1
4   101        1      2        2

In [136]:
from sklearn.linear_model import LinearRegression

In [137]:
model = LinearRegression()

In [139]:
X, y = train.drop('num_sold', axis=1), train['num_sold']

In [140]:
model.fit(X, y)

LinearRegression()

In [142]:
prediction = model.predict(test)

In [148]:
submission = pd.read_csv('../input/tabular-playground-series-jan-2022/sample_submission.csv')

In [149]:
submission.head()

   row_id  num_sold
0   26298       100
1   26299       100
2   26300       100
3   26301       100
4   26302       100

In [150]:
submission['num_sold'] = prediction

In [151]:
submission.head()

   row_id    num_sold
0   26298  378.677133
1   26299  291.198180
2   26300  203.719227
3   26301  588.626330
4   26302  501.147378

In [153]:
submission.to_csv('submission.csv', index=False)